<div class="container">
  <ng-progress></ng-progress>
  <div class="jumbotron bg-blacks">
    <img src="https://res.cloudinary.com/dzawgnnlr/image/upload/q_auto/f_auto/w_auto/github_logo.png" alt="git"
      width="150" height="150" class="logo">
    <img style="float: right;"
      src="https://res.cloudinary.com/dzawgnnlr/image/upload/q_auto/f_auto/w_auto/github_logo.png" alt="git" width="150"
      height="150" class="logo">
    <h1 class="display-4 text-center"> Git-Search</h1>
    <form class="form-group" id="brian">
      <input type="text" class="form-control" placeholder="Input your username" [(ngModel)]="username" name="username"
        (keyup)="search(username)" maxlength="20">
    </form>
  </div>
</div>
<div class="container">

  <h2 class="text-center">Repositories</h2>
  <div class="">
    <div class="card" *ngFor="let repository of repo">
      <div class="card-body">
        <h4 class="card-title h4">REPO NAME:<span class="rep" appUnderline>{{repository.name}}</span> </h4>
        <div class="card-text">
          <hr>
          <h5 class="">DESCRIPTION:<span> {{repository.description}}</span></h5>
          <div class="card-subtitle mb-2">Language: <span> {{repository.language}}</span></div>
          <div class="card-subtitle mb-2">Created: <span id="created">{{repository.created_at | datePipe}}</span> <br>
            On: <span>{{repository.created_at | date}}</span></div>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group float-right">
          <button class="btn btn-success" id="visit"><a href="{{repository.html_url}}" target="blank"
              class="card-link">VIEW ON GITHUB</a> </button>
        </div>
      </div>
    </div>
  </div>
</div>